 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {

  font-family: 'Lato', sans-serif;

  #bg {
    z-index:-1;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }
  #bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 50%;

  }
}
//header//////////////////////////////////////
#header{
  height:25px;
  background-color:HSLA(0, 0%, 100%, 1);
}
//header--------------------------------------



//home-view/////////////////////////////////////////
  #home-title{
    color:white;
    height:450px;
    h1{
      text-align:center;
      color:white;
      font-size:130px;
      font-weight:100;
    }
    ul{
      overflow:auto;
      padding:0;
      margin-left:auto;
      margin-right:auto;
      width:50%;

      li{
        list-style: none;
        float: left;
        font-weight: 100;
        margin-right: 3em;
        margin-left: 3em;
        text-align: center;

      }
    }
  }
  #content{
     background-color:HSLA(0, 0%, 100%, 1);
    #about{
    /*   background-color:HSLA(0, 0%, 100%, 1); */
      overflow:auto;
      h3{
        border-bottom-style: solid;
        border-width: 1px;
        width: 87%;
        font-weight: 200;
        text-align: center;
        margin: 25px auto;
        padding-bottom: 25px;
        font-size: 50px;
      }
      p{
        text-align:center;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom:25px;
        font-weight: 300;
        font-size: 1.5em;
        border-bottom-style: solid;
        border-width: 1px;
      }
    }
    #examples{
      ul{
        li{
          width:100%;
          overflow:auto;
          list-style:none;
          display:block;
          .pic{
            float:left;
            height:200px;
            width:200px;
            border-style:solid;
            border-radius: 100px;
          }
          p{
            float:left;
            max-width:50%;

          }
        }
      }  
      }

  }



//home-view-----------------------------------------
