 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {

  font-family: 'Lato', sans-serif;

  #bg {
    z-index:-1;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }
  #bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 50%;

  }
}
//header//////////////////////////////////////
#header{
  height:25px;
  background-color:HSLA(0, 0%, 100%, 1);
}
//header--------------------------------------



//home-view/////////////////////////////////////////
  #home-title{
    color:white;
    height:450px;
    h1{
      text-align:center;
      color:white;
      font-size:130px;
      font-weight:100;
    }
    ul{
      overflow:auto;
      li{
        list-style:none;
        float:left;
        font-weight:100;
        margin:1em;
      }
    }
  }
  #content{
    #about{
      background-color:HSLA(0, 0%, 100%, 1);
      p{
        margin:0;
      }
    }
    #examples{
      background-color:HSLA(0, 0%, 100%, 1);
    }
  }



//home-view-----------------------------------------
